<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="n1" label="Primeiro Numero" labelPlacement="floating" placeholder="Digite o Primeiro Numero" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="n2" label="Segundo Numero" labelPlacement="floating" placeholder="Digite o Segundo Numero" type="number"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="somar()">somar</ion-button>
  <ion-label>{{res}}</ion-label>
</ion-content>
